---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "May 2025",
    title: "Frontend Engineer",
    company: "Arreglitosv",
    description:
    "Arreglitosv is a web app where users can find top-notch flowers for every ocations, providing users a great experience with its responsive design",
    link: "https://arreglitosv.com/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
